<!DOCTYPE html>
<html ng-app='friendsList' lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Angular - Mini Project</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body class="background" ng-controller="mainCtrl">

    <h1>My Friends</h1>

    <div ng-repeat="friend in myFriends">
    <p> {{friend}} </p>
    </div>

    <div>
        <input ng-model="newFriend"/>
        <button ng-click="addGuest()">Add Friend!</button>
    </div>





<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js'></script>
<script src='./js/app.js'></script>
<script src='./js/mainCtrl.js'></script>



</body>
</html>